<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-8 navbar-text">&copy; Copyright 2023@Ripon. All Rights reserved.Developed and maitained by Ripon</h6>
    </nav>
  </footer>