<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>



        <h1>Conatct Me</h1>

        <h2>Email: ripon.du.chem@gmail.com</h2>
        <h2>Phone: +1 647-853-254</h2>
        <h2>Adress: 7 Crescent Place, East York, ON M4C 5L7</h2>

<br>

        <form>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname" ><br>
            <label for="lname">Last name:</label><br>
            <input type="text" id="lname" name="lname" ><br><br>

            <label for="Number">Contact Number:</label><br>
            <input type="number" id="number" name="number" value="000-000-0000"><br><br>
            <input type="text" id="Message" name="Message" value="Message"><br><br>
            <input type="submit" value="Submit">
          </form> 
    
          <%- include partials/bottom_nav.ejs %>  

          <%- include partials/footer.ejs %>
            