<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


<h1>My Services</h1>

<h1>{1. FOR FULL WEDDINGS}</h1>


<div id="list1">
<ul>
    <li>Up to 12 hours of wedding day photography coverage</li>
    <li>A collection of digitally enhanced images</li>
    <li>5-week delivery</li>
    <li>$2800</li>
  </ul>
  
</div>
    
          <%- include partials/bottom_nav.ejs %>  

          <%- include partials/footer.ejs %>
            