body
{
    text-align: center;
background-color: rgb(32, 32, 32);
}
p{
    color: aliceblue;

}



#Albums{

    font-size: 3em;
    color: aliceblue;
}
header
{
    text-align: center;
    background-color: black;
}
#HeaderPic
{
    height: 150px;

}
#footer{
    color: aliceblue;
    text-align: center;
    font-size: 100%;
}
#introPara
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 20px;
    text-align: center;
    color: aliceblue;
    line-height: 1.2;
}
#iglogo{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 30px;
}

#fblogo{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 35px;
}
#emailLogo{
    padding-top: 10px;
    padding-bottom: 5px;
    height: 35px;

}

#profilePic{
    
    height: 250px;
    border-radius: 50%;
    border: 5px solid rgb(140, 1, 1);
}


button {
    background-color: #ffffff; /* Green */
    border: none;

    color: rgb(101, 101, 101);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 15px;

    border-radius: 12px;
    
    
  }

button:hover 
  {
    background-color: #e7e7e7;
    font-size: 19px;

    border-radius: 12px;

}

form{
    color: #e7e7e7;
    font-size: 15px;

}

h2{

    color: #e7e7e7;
}

h1{

    color: #e7e7e7;
}
li{
    color: #e7e7e7;

}

.list1{

    font-size: 10px;
    width: 60px;
    color: #e7e7e7;

}